html,
body {
  margin: 0%;
  padding-left: 10%;
  padding-right: 10%;
  text-justify: auto;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background: linear-gradient(to right, lightblue, white);
}
p,
li {
  overflow-wrap: break-word;
}
img {
  width: 60%;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
}
header {
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background: #ed76d8;
  padding-bottom: 5px;
}
footer {
  text-align: center;
  border: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  background: #ece2e2;
}
header a {
  display: inline-block;
  margin: 2px;
  padding: 2px;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background: #ece2e2;
  transition: all 0.3s ease;
}
header a:hover {
  background: #8deaaf;
  transform: scale(1.1);
}
#content a {
  padding: auto;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background: #ece2e2;
}
#content a:hover {
  background: #8deaaf;
}
li {
  margin: 4px;
  padding: 4px;
}

a:hover {
  color: red;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
#servings {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  flex-wrap: wrap;
  margin: 2px;
  padding: 2px;
}
#servings p {
  margin: 2px;
  padding: 2px;
  text-align: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background: #ece2e2;
}
